@{
    Layout = "Layout";
}

<section id="colecciones">
    <div class="pais-seccion">
        <h1>Nombre de la Colección</h1>
        <div>
            <ul class="obras-lista">
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="~/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <div>
                        <h3>Nombre del cuadro</h3>
                        <p>Nombre del pintor</p>
                    </div>
                </li>

                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="~/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <div>
                        <h3>Nombre del cuadro</h3>
                        <p>Nombre del pintor</p>
                    </div>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="~/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <div>
                        <h3>Nombre del cuadro</h3>
                        <p>Nombre del pintor</p>
                    </div>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="~/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="pais-seccion">
        <h1>Nombre de la Colección</h1>
        <div>
            <ul class="obras-lista">
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="~/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
            </ul>
        </div>
    </div>
</section>