@{
    Layout = "Layout";
}
<section id="colecciones">
    <div class="pais-seccion">
        <h1>País de origen</h1>

        <ul class="pintor-lista">
            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>
            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>
            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>
            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="pais-seccion">
        <h1>País de origen</h1>

        <ul class="pintor-lista">
            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista 1" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>

            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>
            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>
            <li class="obra">
                <a class="imgObra" href="VerPintor.html">
                    <img src="~/Pintores/1.jpg" alt="Artista" />
                </a>
                <h3>Nombre del pintor</h3>
                <div class="fecha-container">
                    <p class="fecha-nacim">1890</p>
                    <span>-</span>
                    <p class="fecha-falleci">1940</p>
                </div>
            </li>

        </ul>
    </div>
</section>