
@{
    Layout = "Layout";
}
<section id="colecciones">
    <h1 class="nombreautor">Nombre del autor</h1>
    <div class="pais-seccion">
        <div>
            <ul class="obras-lista">
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <div>
                        <h3>Nombre del cuadro</h3>
                        <p>Nombre del pintor</p>
                    </div>
                </li>

                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <div>
                        <h3>Nombre del cuadro</h3>
                        <p>Nombre del pintor</p>
                    </div>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <div>
                        <h3>Nombre del cuadro</h3>
                        <p>Nombre del pintor</p>
                    </div>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="pais-seccion">
        <div>
            <ul class="obras-lista">
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
                <li class="obra">
                    <a class="imgObra" href="VerCuadro.html">
                        <img src="/Cuadros/1.jpg" alt="Obra" />
                    </a>
                    <h3>Nombre del cuadro</h3>
                    <p>Nombre del pintor</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="botones" id="mover">
        <a class="button" href="VerPintor.html">
            <img src="~/images/camino-a-la-izquierda.png" alt="Obra" />
        </a>
    </div>
</section>