
@{
    Layout = "Layout";
}
<section id="colecciones">
    <h1 class="nombreautor">Nombre del autor</h1>
    <div class="obras-lista">
        <div class="obra">
            <div class="pais-seccion">
                <a class="imgObra" href="VerCuadro.html">
                    <img src="~/Cuadros/1.jpg" alt="Obra" />
                </a>
                <h3>Nombre del cuadro</h3>
                <p>Nombre del pintor</p>
            </div>
        </div>
    </div>
</section>