@{
    Layout = "LayoutAdmin";
}

    <a href="Agregar.html">
        <input type="button" id="agregarObraBtn" value="+" />
    </a>

    <section id="colecciones">
        <h1>Nombre de coleccion</h1>
        <div class="cuadro-seccion">
            <div>
                <ul class="Cuadros-lista">
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <h1>Nombre de coleccion</h1>
        <div class="cuadro-seccion">
            <div>
                <ul class="Cuadros-lista">
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                    <li class="cuadro">
                        <img src="~/Cuadros/1.jpg" alt="Cuadro" />
                        <h3>Nombre del cuadro</h3>
                        <h5>Nombre del pintor</h5>
                        <div class="obra-actions">
                            <a href="Editar.html" class="btnEditar">Editar</a>
                            <a href="Eliminar.html" class="btnBorrar">Eliminar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>