<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinacoteca</title>
    <link href="~/Styles/estilopincipal.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Pinacoteca</h1>
        <img src="~/Logo_1.jpg" alt="Logotipo de Pinacoteca" />
    </header>

    <nav>
        <a href="~/Home">Principal</a>
        <a href="~/Home/Cuadros">Colección</a>
        <a href="~/Home/Pintores">Pintores</a>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2023 Pinacoteca. Programación Web.</p>
    </footer>
</body>
</html>

